body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5fa;
    color: #333;
}

header {
    background-color: #6a0dad;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    color: #6a0dad;
    font-size: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #6a0dad;
    color:white;
}